@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ViewModels 
        <span style="font-size:smaller">in an ASP.NET MVC Website</span></h1>
    <p class="lead">The Repository Pattern requires the use 
    of a repository class and ViewModels to interact with the tables in a database</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>ViewModel</h2>
        <p>
            A ViewModel is simply a single class designed to hold all of the data needed
            on a view.  A ViewModel will typically combine data from multiple base tables
            into one model class.  That model class with then be passed to the view on the GET 
            and returned from the view on the POST.
        </p>
        <p><a class="btn btn-default" href="~/customer">Go to template website &raquo;</a></p>
    </div>

</div>